#
# Copyright (c) 2022 YuLong Yao <feilongphone@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

menu "APP_SUMP"
source "app/Kconfig.sump"
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
