# Copyright (c) 2022, YuLong Yao <feilongphone@gmail.com>
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_AT32

source "soc/arm/artery/*/Kconfig.defconfig.series"

config PINCTRL
	default n

endif # SOC_FAMILY_AT32
