# Copyright (c) 2022 YuLong Yao <feilongphone@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config USART_AT32
	bool "AT32 serial driver"
	default y
	depends on DT_HAS_ARTERY_AT32_USART_ENABLED
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	select USE_AT32_USART
	select PINCTRL
	help
	  This option enables the USART driver for AT32 SoC family.
