# Copyright (c) 2022 YuLong Yao <feilongphone@gmail.com>
# SPDX-License-Identifier: Apache-2.0

DT_COMPAT_ARTERY_AT32_PINCTRL_AF := artery,at32-pinctrl-af

config PINCTRL_AT32_AF
	bool "AT32 AF pin controller driver"
	depends on AT32_HAS_AF_PINMUX
	default $(dt_compat_enabled,$(DT_COMPAT_ARTERY_AT32_PINCTRL_AF))
	help
	  GD32 AF pin controller driver. This driver is used by series using the
	  AF pin multiplexing model.
